@import "bootstrap-icons/font/bootstrap-icons";
@import "tailwindcss";

:root {
	--primary-color: #4e342e;
	--secundary-color: #fbe9e7;
	--accent-color: #517722;
}

html {
  scroll-behavior: smooth;
  background-color: var(--secundary-color);
}

div#root {
  display: grid;
  grid-auto-rows: auto 1fr auto;
}

.nav-image {
  height: 60px;
  width: 250px;
}

.navbar-links:after {
	display: block;
	content: '';
	margin: 0 auto;
	margin-top: 5px;
	height: 4px;
	width: auto;
	background-color: var(--accent-color);
	border-radius: 300px;
}